<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UrbanLadder Suite">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test name="Regression Tests">
        <classes>
            <class name="tests.BookshelvesFilterTest"/>
            <class name="tests.CollectionsMenuTest"/>
            <class name="tests.GiftCardsValidationTest"/>
        </classes>
    </test>
</suite>